img {
  max-width: 250px;
  max-height: 250px;
  flex: 1 0;
}

.recipe {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 500px;
  white-space: nowrap;
  background: seashell;
  border: 8px solid whitesmoke;
  border-radius: 16px;
  margin-bottom: 8px;
}

.instructions {
  ul {
    white-space: normal;
    flex: 1 0;
    max-width: 250px;
    padding-left: 8px;
    margin: 0;
  }
  display: flex;
  max-width: 500px;
}
